<% if(typeof error != 'undefined' && error.length > 0) { %>
   <div class="alert alert-danger" role="alert">
       <% error %>
   </div>
<% }%>
<% if(typeof success != 'undefined' && success.length > 0) { %>
   <div class="alert alert-success" role="alert">
       <% success %>
   </div>
<% }%>